# IDE configs
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# code coverage files
*.gcov
*.gcda
*.gcno

# editor backup files
.\#*
*~
*.bak

# macOS metadata files
.DS_Store

# build stuffs
cmake-build*/
build*/
CMakeCache.txt
CMakeFiles

# R project stuff
.Rproj.user
/bindings/R/rlibkriging/*.gz

# armadillo 'in source' generated Makefile
dependencies/armadillo-code/examples/Makefile