[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.4
[submodule "dependencies/carma"]
	path = dependencies/carma
	url = https://github.com/libKriging/carma.git
	branch = stable
[submodule "dependencies/armadillo-code"]
	path = dependencies/armadillo-code
	url = https://github.com/libKriging/armadillo-code.git
	branch = 10.6.x
