# Import required packages
#importFrom(Rcpp, evalCpp)
#importFrom(RhpcBLASctl, blas_set_num_threads)
#importFrom("stats", "rbinom")

# Export functions defined in R code
exportPattern("^[[:alpha:]]+")
#export("testBinding")
#export("testBinding2")

# Load dynamic libraries (shared object files)
useDynLib(testBinding, .registration = TRUE)